:root{
    --main-color: black;
    --sec-color: white;
    background-color: white;
    font-family: montserrat, sans-serif;
    font-size: clamp(16px, 1.5vw, 2rem);
    color: var(--main-color);
    box-sizing: border-box;
}
:root, body, *::before, *::after, fieldset, form, input, ul, li, p{
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

p {
    margin: 1rem 0;
}

.info {
    position: absolute;
    width: 20px;
    height: auto;
    margin-left: 0.3rem;
}

.info:hover + .pwd-rules {
    display: block;
}

.pwd-rules{
    display: none;
    position: absolute;
    top: -80px;
    font-size: 10px;
    margin: 0;
    padding: 0.5rem;
    background-color: var(--main-color);
    color: var(--sec-color);
}

.pwd-rules p {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.logo-container{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 200px;
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container > p {
    color: var(--sec-color);
    letter-spacing: 10px;
    margin-top: 150px;
    font-size: 46px;
    font-weight: 300;
}

.banner {
    background-image: url(images/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.logo-container > img {
    width: 200px;
    height: auto;
    position: absolute;
    top: 30px;
}

.wrapper {
    position: relative;
    flex-basis: 50%;
}

form {
    flex-basis: 50%;
}

main {
    display: flex;
    flex-wrap: wrap;
}

fieldset{
    border: none;
    margin: 0 1rem;
}

fieldset > p{
    font-weight: 700;
    line-height: 1.5;
}

ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
}

ul > li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

label {
    font-size: 14px;
    font-weight: 500;
}

input{
    appearance: none;
    border: none;
    border-radius: 10px;
    padding: 7px;
    margin-right: 1.5rem;
    margin-top: 0.3rem;
    font-size: 16px;
    width: 12rem;
    outline: 1px solid black;
}

input:focus{
    outline: 3px solid #1515d8;
}

input + span {
    position: relative;
}

input + span::before{
    position: absolute;
    right: 12px;
    top: -25px;
    padding-right: 4em;
}

input:valid + .icon::before{
    content: "✅";
    font-size: 10px;
}

input:invalid + .icon::before{
    content: "❌";
    font-size: 10px;
}

input + span::after{
    position: absolute;
    top: -55px;
    right: 50px;
}

input:required + span::after{
    content: "required";
    font-size: 10px;
}

button{
    border: 0;
    padding: 10px;
    background-color: green;
    font-family: inherit;
    color: var(--sec-color);
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 17px;
    border-radius: 15px;
}

button:hover{
    background-color: rgb(2, 154, 2);
}

button:active{
    box-shadow: inset 0px 0px 28px 0px green;
}

fieldset > p:last-child{
    font-size: 12px;
    font-weight: 500;
}

a {
   text-decoration:none;
   color: green;
}

a:hover{
    color: rgb(2, 154, 2);
}

@media (max-width: 768px) {
    main {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .banner {
        width: 100vw;
        height: 100vh;
    }
    ul {
        justify-content: center;
        align-items: center;
    }
    p{
        text-align: center;
    }
}
