:root{
    --main-color: coral;
    background-color: black;
    font-family: montserrat, sans-serif;
    font-size: clamp(16px, 1.5vw, 2rem);
    color: var(--main-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

img{
    height: 100vh;
    width: 500px;
}

main {
    display: flex;
}

div > p{
    margin-top: 5rem;
    font-weight: 600;
    line-height: 1.5;
    padding: 0 2rem;
}

fieldset{
    border: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
}

ul > li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

label {
    font-size: 14px;
    font-weight: 200;
}

input{
    appearance: none;
    border: none;
    border-radius: 10px;
    padding: 7px;
    margin-right: 2rem;
    margin-top: 0.3rem;
    font-size: 16px;
    width: 300px;
}
